* {
  margin: 0px;
  padding: 0px;
  color: #111;
  font-size: 12px;
}
ul, ol {
  list-style-type: none;
}
#channels-wrapper {
  position: fixed;
  left: 0%;
  width: 25%;
  background-color: #efefef;
}
#consoles-wrapper {
  position: fixed;
  left: 25%;
  width: 75%;
}
